body {
    font-family: Arial, sans-serif;
    background-color: #e6f7ff;
    color: #333;
    margin: 0;
    padding: 0;
    text-align: center;
}

header {
    background-color: #007bff;
    color: white;
    padding: 20px;
}

h1 {
    margin: 0;
}

main {
    padding: 20px;
}

/* #hero img {
    width: 100%;
    height: auto;
    max-height: 400px;
} */

#countdown {
    margin: 20px 0;
}

#timer {
    font-size: 2em;
    color: #007bff;
}

#messages-section {
    margin: 20px 0;
    display: flex;
    flex-direction: column;
    align-items: center;
}

#messages {
    margin-bottom: 20px;
    text-align: left;
    background-color: #a5c3c552;
    color: rgb(255, 16, 203);
    padding: 20px;
}

#messages-container {
    display: flex;
    flex-direction: column;
    align-items: center;
}

#guest-book {
    margin: 20px 0;
}

#guest-book-form {
    display: flex;
    flex-direction: column;
    align-items: center;
}

#guest-book-form input,
#guest-book-form textarea {
    width: 80%;
    padding: 10px;
    margin: 10px 0;
    border: 1px solid #ccc;
    border-radius: 5px;
}

#guest-book-form button {
    background-color: #007bff;
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

#play-song-button,
#delete-messages-button,
#display-messages-button {
    background-color: #007bff;
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    margin-top: 20px;
}

#delete-messages-button {
    background-color: #ff4d4d;
}

#cake-image {
    width: 30%; /* Adjust the size as needed */
    margin: 20px auto;
    display: block;
}